body{
    margin: 0px;
    background-color: aliceblue;
}

header{
    background-color: aqua;
    text-align: center;
    padding: 25px;
}
.navbar ul{
    list-style-type: none;
    background-color: gray;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: wheat;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: aliceblue;
}
.navbar li{
    float: left;
}
.gallery{
    display: inline-block;
    border: 1px solid gray;
    margin: 5px;
    width: 200px;
    text-decoration: none;
}
.gallery .description{
    padding: 10px;
    text-align: center;
}
.gallery:hover{
    border: 1px solid darkgrey;
}
.gallery img{
    width: 200px;
    height: 200px;
}
.travel{
    
    margin: 5px;
    margin-left: 10px;
}
footer{
    background-color: aqua;
    text-align: center;
    padding: 25px;
}
h1{
    color: black;
}